<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="button" th:fragment="menu">
  <a href="/main" class="button">Menu</a>
  <a href="/sale" class="button">Promocje</a>
  <a href="/delivery" class="button">Dostawa</a>
  <a href="/login" class="button">Zaloguj</a>
  <a href="/logout" class="button">Wyloguj</a>
  <a href="/order" class="button">Zamówienie</a>
  <a href="/contact" class="button">Kontakt</a>
</div>
<div id="logo" th:fragment="logo">
  <img src="/logo.png">
</div>




</body>
</html>